* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  line-height: 1.6;
}

body {
  margin: 0;
}

:root {
  --button-background: #131313;
  --product-item-background: #f8f8f8;
  --text-color: #0f1110;
}

.push-down{ 
  margin-top: 80px; 
}
.push-down-2{
  margin-top: 150px;
}

/*   CATEGORY LIST */

.simple-list {
  list-style: none; /* Remove bullets */
  cursor: pointer; /* Change cursor to pointer */
}

.simple-list li:hover {
  font-weight: bold; /* Make text bold on hover */
}

/* ORDER LIST */
.simple-list-orders {
  list-style: none; /* Remove bullets */
}


/* BUTTON*/

.btn-dark {
  background: var(--button-background);
}

ul{
  list-style: none;
}
button{
  cursor: pointer;
}

.btn-outline {
  border-color: var(--button-background);
  border: 2px solid  var(--button-background);
  color: var var(--button-background);
  margin: 0 12px;
}
/*
.btn-outline:hover {
  background-color: var(--button-background);
  color: white;
}
*/
/*PAGINATION ORDERS LIST*/

.page-item.active .page-link {
  background-color: var(--button-background);
  color: white;
}
.page-link{
  background: white;
  color: var(--text-color);
}

select.form-select{
  padding: 12px 0;
}

.admin-panel-link{
  text-decoration: none;
  color: var(--text-color);
  margin-right: 20px;
}

/*PROFILE NAVBAR*/
.profile-nav{
  cursor: pointer;
  text-transform: uppercase;
}
.profile-nav:hover{
  border-bottom: 3px solid var(--text-color);
  font-weight: bold;
  
}

.label-login-signin-form{
  text-align: left;
}
.btn-link{
  color: var(--text-color);
}
.btn-link:hover{
  color: var(--text-color);
}